// Colors
$bg-color1: #cccccc;
$bg-color2: #efefef;
$main-color: #D0DD2B;
$secondary-color: #98C73D;
$link-color: #00A9E0;
$heading-color: #00A9E0;
$button-color: #67CDDC;
$text-color: #3B3B3D;

// Sizes
$h1-size : 2em;